body main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    max-height: auto;
}

body main .foto {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body main .foto img {
    height: 100%;
}

body main .informacion {
    width: calc(100% - 500px);
    height: 450px;
    overflow: hidden;
    border-radius: 5px;
}

body main .informacion h2 {
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 20px;
}